import necessary dependencies

In [129]:
import pandas as pd

raw data path

In [130]:
crop_data_path = '../raw-data/cpdata.csv'
fertilizer_data_path = '../raw-data/Fertilizer.csv'

Reading data

In [131]:
crop = pd.read_csv(crop_data_path)
fert = pd.read_csv(fertilizer_data_path)

In [132]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [133]:
fert.head()

   Unnamed: 0              Crop   N   P   K   pH
0           0              Rice  80  40  40  5.5
1           1    Jowar(Sorghum)  80  40  40  5.5
2           2       Barley(JAV)  70  40  45  5.5
3           3             Maize  80  40  20  5.5
4           4  Ragi( naachnnii)  50  40  20  5.5

In [134]:
# delete the column named 'Unnamed: 0' from the DataFrame fert

del fert['Unnamed: 0']

In [135]:
print(fert.columns)

Index(['Crop', 'N', 'P', 'K', 'pH'], dtype='object')

In [136]:
crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3100 entries, 0 to 3099
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  3100 non-null   float64
 1   humidity     3100 non-null   float64
 2   ph           3100 non-null   float64
 3   rainfall     3100 non-null   float64
 4   label        3100 non-null   object
dtypes: float64(4), object(1)
memory usage: 121.2+ KB

In [137]:
fert.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1843 entries, 0 to 1842
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Crop    1843 non-null   object
 1   N       1843 non-null   int64
 2   P       1843 non-null   int64
 3   K       1843 non-null   int64
 4   pH      1843 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 72.1+ KB

In [138]:
def change_case(i):
    i = i.strip()  # removes leading and trailing whitespace
    i = i.replace(" ", "")  # removes all spaces
    i = i.lower()  # converts to lowercase
    return i

In [139]:
fert['Crop'] = fert['Crop'].apply(change_case)
crop['label'] = crop['label'].apply(change_case)

In [140]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [141]:
crop_names = crop['label'].unique()
crop_names

array(['rice', 'wheat', 'mungbean', 'tea', 'millet', 'maize', 'lentil',
       'jute', 'coffee', 'cotton', 'groundnut', 'peas', 'rubber',
       'sugarcane', 'tobacco', 'kidneybeans', 'mothbeans', 'coconut',
       'blackgram', 'adzukibeans', 'pigeonpeas', 'chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [142]:
crop_names_from_fert = fert['Crop'].unique()
crop_names_from_fert

array(['rice', 'jowar(sorghum)', 'barley(jav)', 'maize',
       'ragi(naachnnii)', 'chickpeas(channa)', 'frenchbeans(farasbi)',
       'favabeans(papdi-val)', 'limabeans(pavta)', 'clusterbeans(gavar)',
       'soyabean', 'blackeyedbeans(chawli)', 'kidneybeans',
       'pigeonpeas(toordal)', 'mothbean(matki)', 'mungbeans', 'greenpeas',
       'horsegram(kulthi)', 'blackgram', 'rapeseed(mohri)',
       'corianderseeds', 'mustardseeds', 'sesameseed', 'cuminseeds',
       'lentils(masoordal)', 'brinjal', 'beetroot', 'bittergourd',
       'bottlegourd', 'capsicum', 'cabbage', 'carrot', 'cauliflower',
       'cucumber', 'corianderleaves', 'curryleaves', 'drumstick–moringa',
       'chili', 'ladyfinger', 'mushroom', 'onion', 'potato', 'pumpkin',
       'radish', 'olive', 'sweetpotato', 'fenugreekleaf(methi)',
       'spinach', 'ridgegourd', 'gooseberry(amla)',
       'jambun(syzygiumcumini)', 'ziziphusmauritiana(bor)',
       'garciniaindica(kokam)', 'tamarind', 'tapioca(suran)', 'garlic',
       'lemon', 'tomato', 'ashgourd', 'pineapple', 'pomegranate',
       'banana', 'mango', 'grapes', 'jackfruit', 'guava', 'watermelon',
       'muskmelon', 'apricot', 'apple', 'chickoo', 'custardapple',
       'dates', 'figs', 'orange', 'papaya', 'aniseed', 'asafoetida',
       'bayleaf', 'blackpepper', 'cardamom', 'cinnamon', 'cloves',
       'jaiphal(nutmeg)', 'ginger', 'turmeric', 'cashewnuts', 'raisins',
       'coconut', 'almondnut', 'arecanut', 'pistachionut', 'lemongrass',
       'cotton', 'jute', 'coffee', 'sunflower'], dtype=object)

In [143]:
# make some changes in ferttilizer dataset
# because the label crop names of crop and fert crop names are not same

fert['Crop'] = fert['Crop'].replace('mungbeans','mungbean')
fert['Crop'] = fert['Crop'].replace('lentils(masoordal)','lentil')
fert['Crop'] = fert['Crop'].replace('pigeonpeas(toordal)','pigeonpeas')
fert['Crop'] = fert['Crop'].replace('mothbean(matki)','mothbeans')
fert['Crop'] = fert['Crop'].replace('chickpeas(channa)','chickpea')

In [144]:
crop_names

array(['rice', 'wheat', 'mungbean', 'tea', 'millet', 'maize', 'lentil',
       'jute', 'coffee', 'cotton', 'groundnut', 'peas', 'rubber',
       'sugarcane', 'tobacco', 'kidneybeans', 'mothbeans', 'coconut',
       'blackgram', 'adzukibeans', 'pigeonpeas', 'chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [145]:
crop_names_from_fert

array(['rice', 'jowar(sorghum)', 'barley(jav)', 'maize',
       'ragi(naachnnii)', 'chickpeas(channa)', 'frenchbeans(farasbi)',
       'favabeans(papdi-val)', 'limabeans(pavta)', 'clusterbeans(gavar)',
       'soyabean', 'blackeyedbeans(chawli)', 'kidneybeans',
       'pigeonpeas(toordal)', 'mothbean(matki)', 'mungbeans', 'greenpeas',
       'horsegram(kulthi)', 'blackgram', 'rapeseed(mohri)',
       'corianderseeds', 'mustardseeds', 'sesameseed', 'cuminseeds',
       'lentils(masoordal)', 'brinjal', 'beetroot', 'bittergourd',
       'bottlegourd', 'capsicum', 'cabbage', 'carrot', 'cauliflower',
       'cucumber', 'corianderleaves', 'curryleaves', 'drumstick–moringa',
       'chili', 'ladyfinger', 'mushroom', 'onion', 'potato', 'pumpkin',
       'radish', 'olive', 'sweetpotato', 'fenugreekleaf(methi)',
       'spinach', 'ridgegourd', 'gooseberry(amla)',
       'jambun(syzygiumcumini)', 'ziziphusmauritiana(bor)',
       'garciniaindica(kokam)', 'tamarind', 'tapioca(suran)', 'garlic',
       'lemon', 'tomato', 'ashgourd', 'pineapple', 'pomegranate',
       'banana', 'mango', 'grapes', 'jackfruit', 'guava', 'watermelon',
       'muskmelon', 'apricot', 'apple', 'chickoo', 'custardapple',
       'dates', 'figs', 'orange', 'papaya', 'aniseed', 'asafoetida',
       'bayleaf', 'blackpepper', 'cardamom', 'cinnamon', 'cloves',
       'jaiphal(nutmeg)', 'ginger', 'turmeric', 'cashewnuts', 'raisins',
       'coconut', 'almondnut', 'arecanut', 'pistachionut', 'lemongrass',
       'cotton', 'jute', 'coffee', 'sunflower'], dtype=object)

In [146]:
print(crop[crop['label'].isin(crop_names_from_fert)])

      temperature   humidity        ph    rainfall       label
0       20.879744  82.002744  6.502985  202.935536        rice
1       21.770462  80.319644  7.038096  226.655537        rice
2       23.004459  82.320763  7.840207  263.964248        rice
3       26.491096  80.158363  6.980401  242.864034        rice
4       20.130175  81.604873  7.628473  262.717340        rice
...           ...        ...       ...         ...         ...
3095    25.287846  89.636679  6.765095   58.286977  watermelon
3096    26.638386  84.695469  6.189214   48.324286  watermelon
3097    25.331045  84.305338  6.904242   41.532187  watermelon
3098    26.897502  83.892415  6.463271   43.971937  watermelon
3099    26.986037  89.413849  6.260839   58.548767  watermelon

[1700 rows x 5 columns]

In [147]:
crop['label']

0             rice
1             rice
2             rice
3             rice
4             rice
           ...
3095    watermelon
3096    watermelon
3097    watermelon
3098    watermelon
3099    watermelon
Name: label, Length: 3100, dtype: object

In [148]:
extract_labels = []
for i in crop_names_from_fert:
    if i in crop_names:
        extract_labels.append(i)

In [149]:
extract_labels

['rice',
 'maize',
 'kidneybeans',
 'blackgram',
 'pomegranate',
 'banana',
 'mango',
 'grapes',
 'watermelon',
 'muskmelon',
 'apple',
 'orange',
 'papaya',
 'coconut',
 'cotton',
 'jute',
 'coffee']

In [150]:
# using extract labesl on crop to get all the data related to those labels
new_crop = pd.DataFrame(columns = crop.columns)
new_fert = pd.DataFrame(columns = fert.columns)

In [151]:
new_crop.head()

Empty DataFrame
Columns: [temperature, humidity, ph, rainfall, label]
Index: []

In [152]:
new_fert.head()

Empty DataFrame
Columns: [Crop, N, P, K, pH]
Index: []

In [153]:
new_crop = crop[crop['label'].isin(extract_labels)]

In [154]:
new_crop['label'].unique()

array(['rice', 'maize', 'jute', 'coffee', 'cotton', 'kidneybeans',
       'coconut', 'blackgram', 'banana', 'grapes', 'apple', 'mango',
       'muskmelon', 'orange', 'papaya', 'pomegranate', 'watermelon'],
      dtype=object)

In [155]:
rows = [fert[fert['Crop'] == label].iloc[0] for label in extract_labels]
new_fert = pd.DataFrame(rows)

In [156]:
new_fert['Crop'].unique()

array(['rice', 'maize', 'kidneybeans', 'blackgram', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

save the prepare data into raw-data-prepare folder

In [157]:
new_crop.to_csv('../raw-data-prepare/crop_prepare.csv')
new_fert.to_csv('../raw-data-prepare/fertilizer_prepare.csv')